In [20]:
import requests
import pandas as pd

apikey= open('apikey.txt','r').readline()

def get_lat_lng(address):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={address},+UK&key={apikey}"
    response = requests.get(url)
    data = response.json()

    if data['status'] == 'OK':
        result = data['results'][0]
        lat = result['geometry']['location']['lat']
        lng = result['geometry']['location']['lng']
        return lat, lng
    else:
        return None

In [22]:
OD=pd.read_excel('Heathrow_OD.xlsx').dropna()
OD['Local Auth'] = OD['Local Auth'].astype(str)
vals = OD['Local Auth'].astype(str)

In [23]:
latlist = list()
lnglist = list()
for val in vals:
     curlat, curlng = get_lat_lng(val)
     latlist.append(curlat)
     lnglist.append(curlng)

[57.1498891,
 57.28687230000001,
 50.8348175,
 54.6990638,
 53.0151867,
 56.6979538,
 56.4006214,
 50.82341,
 53.09289279999999,
 51.14510070000001,
 51.81767259999999,
 52.0603616,
 51.5540666,
 51.6569225,
 53.55263,
 54.108967,
 51.57608399999999,
 51.299173,
 53.3186178,
 51.3250102,
 52.1386603,
 51.439933,
 52.4822694,
 52.5707761,
 53.6957522,
 53.81674229999999,
 51.7875779,
 53.231044,
 53.57686469999999,
 52.97893999999999,
 50.7380046,
 51.4153828,
 53.7937996,
 51.880087,
 52.5716157,
 51.5672808,
 51.620475,
 51.504286,
 50.8226288,
 51.4548943,
 52.73911769999999,
 51.4063204,
 52.335589,
 51.74347299999999,
 52.9854591,
 53.7892877,
 53.5933498,
 51.578829,
 53.7247845,
 52.1950788,
 51.5390261,
 52.7183027,
 51.280233,
 51.483707,
 54.892473,
 51.8572309,
 51.5345547,
 52.0029744,
 52.21914289999999,
 55.378051,
 52.7407093,
 51.7355868,
 51.8993855,
 51.8884129,
 53.1610446,
 53.2302974,
 53.235048,
 50.83761000000001,
 51.6606074,
 53.653511,
 55.953252,
 51.5123443,
 56.1075351,
 51.895927,
 53.282872,
 54.4305545,
 52.49229829999999,
 50.26604709999999,
 51.794968,
 54.7294099,
 52.4128163,
 54.1091134,
 51.1091401,
 51.3769529,
 51.74563699999999,
 54.52361,
 51.44621,
 52.25602749999999,
 53.1842288,
 52.9225301,
 53.1632937,
 53.52282,
 50.7487635,
 51.1278758,
 52.512255,
 55.0701073,
 56.462018,
 51.5132537,
 52.4036809,
 50.75859699999999,
 51.1187851,
 51.8945409,
 53.30423649999999,
 55.9493383,
 52.4883422,
 53.8416168,
 52.838654,
 52.1872472,
 50.768035,
 50.967182,
 54.6673412,
 51.3673135,
 51.6522994,
 51.6570766,
 51.3362231,
 52.931125,
 50.72603669999999,
 56.00187750000001,
 50.8548464,
 52.54748360000001,
 56.2082078,
 53.1668658,
 51.0832153,
 51.7999835,
 53.7669515,
 54.95268,
 52.97345499999999,
 55.86167039999999,
 51.8642449,
 50.800482,
 51.44188399999999,
 52.598233,
 51.4933675,
 51.23622,
 52.9277266,
 51.5436387,
 53.33172099999999,
 52.65709400000001,
 51.5000049,
 52.5708762,
 51.59052699999999,
 51.767787,
 53.99212,
 51.5805011,
 51.3016959,
 54.691745,
 50.854259,
 50.8518324,
 51.577924,
 52.0765164,
 51.6619501,
 53.3325341,
 57.4595749,
 51.5351832,
 52.6302593,
 51.062883,
 51.4704124,
 52.33146,
 52.0596687,
 53.265325,
 50.69384789999999,
 49.9232519,
 51.538621,
 51.4990805,
 52.396322,
 52.78739299999999,
 53.7452888,
 51.41233,
 53.5933432,
 53.454594,
 51.4935082,
 54.0449072,
 53.8007554,
 52.6368778,
 50.87387200000001,
 51.46115090000001,
 52.681602,
 52.9451889,
 53.4083714,
 51.8786707,
 51.2704083,
 51.73180499999999,
 52.1893836,
 53.4807593,
 53.147195,
 51.4047432,
 52.82827839999999,
 51.1941742,
 51.74872999999999,
 51.4097742,
 50.9190318,
 52.27137700000001,
 51.0331579,
 54.574227,
 52.0406224,
 51.234566,
 51.81160999999999,
 57.64984759999999,
 57.75989180000001,
 51.691743,
 50.8758752,
 53.08509429999999,
 54.978252,
 53.013208,
 51.5259127,
 51.584151,
 55.6416731,
 51.0729874,
 53.1878221,
 53.5668201,
 51.9578206,
 53.0880498,
 55.8662432,
 53.60555919999999,
 52.9124395,
 51.3879028,
 55.0182399,
 52.5423152,
 52.7466112,
 52.23706499999999,
 55.2082542,
 52.6292567,
 52.9540223,
 52.52249,
 52.5801686,
 53.5409298,
 51.7520209,
 51.67624559999999,
 53.86945619999999,
 56.39538169999999,
 52.57031689999999,
 50.3754565,
 50.8197675,
 52.6464249,
 53.763201,
 51.45512009999999,
 51.5748179,
 54.59713439999999,
 52.30897,
 51.3058308,
 51.64902069999999,
 53.9289626,
 51.46132619999999,
 54.3299809,
 53.6097136,
 51.582071,
 50.969873,
 53.4326035,
 52.370878,
 51.40871929999999,
 52.8912108,
 51.2711826,
 52.6583014,
 54.1698076,
 53.48752349999999,
 52.5361674,
 54.283113,
 55.54856969999999,
 51.2238481,
 53.5034449,
 53.78352400000001,
 51.27241000000001,
 53.38112899999999,
 52.7063657,
 51.51053839999999,
 52.411811,
 51.0192705,
 55.4588988,
 51.6023284,
 52.1487594,
 52.8429447,
 51.5264361,
 50.4102244,
 52.7455834,
 52.8300224,
 54.33135499999999,
 55.6735909,
 52.4828179,
 52.1443849,
 51.6361801,
 53.7271964,
 51.02290660000001,
 52.6615371,
 54.9636693,
 50.9105468,
 51.5459269,
 51.502781,
 51.4195668,
 51.752725,
 53.456307,
 52.806693,
 53.0725787,
 51.903761,
 56.1165227,
 53.41063159999999,
 54.5704551,
 53.0033369,
 52.19173,
 51.745734,
 54.906869,
 51.3346227,
 51.3614279,
 51.323167,
 51.62144,
 51.5581438,
 53.4805828,
 52.633584,
 51.2271772,
 50.5247502,
 52.7409916,
 51.8748081,
 51.1273626,
 51.992265,
 51.3602516,
 51.6509104,
 51.4934557,
 51.2836053,
 50.4619209,
 51.7002253,
 50.89284780000001,
 51.5251066,
 53.4215129,
 51.132377,
 55.378051,
 51.9789421,
 51.4095958,
 51.6319428,
 53.683298,
 52.586214,
 51.5901724,
 51.45837299999999,
 53.39203999999999,
 52.28231599999999,
 51.66112829999999,
 51.1565897,
 50.9703846,
 52.302419,
 51.7465017,
 51.4308255,
 50.651337,
 53.5728525,
 53.3465722,
 55.9070198,
 51.8005816,
 52.1872472,
 51.4974948,
 53.5450645,
 51.3491996,
 51.059771,
 51.47997119999999,
 53.3727181,
 51.316774,
 51.410457,
 52.5868159,
 52.1941389,
 50.81787,
 53.04304,
 52.1525178,
 51.638511,
 53.89960989999999,
 52.4038046,
 53.9614205]

In [24]:
OD['lat'] = latlist
OD['lng'] = lnglist

,Local Auth,Total Annual Demand,Mode Share Taxi,Mode Share Car,Mode Share Rail,lat,lng
1,Aberdeen City,7000.0,0.284172,0.443765,0.272063,57.149889,-2.093753
2,Aberdeenshire,1000.0,0.000000,1.000000,0.000000,57.286872,-2.381568
3,Adur,13000.0,0.000000,0.887134,0.000000,50.834817,-0.310126
4,Allerdale,3000.0,0.000000,0.218843,0.000000,54.699064,-3.199420
5,Amber Valley,13000.0,0.000000,0.857952,0.062812,53.015187,-1.482307
...,...,...,...,...,...,...,...
358,Wychavon,33000.0,0.352380,0.547394,0.000000,52.152518,-2.033095
359,Wycombe,325000.0,0.423891,0.512929,0.043526,51.638511,-0.807860
360,Wyre,3000.0,0.492094,0.000000,0.507906,53.899610,-2.809301
361,Wyre Forest,17000.0,0.138131,0.809199,0.000000,52.403805,-2.253763
362,York,52000.0,0.122927,0.150311,0.635821,53.961421,-1.073911